:root {
  --text: #ffffff;
  --bg: #0a0806;
  --max-width: 1216px;
}

body {
  background-image: url("../src/assets/background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: var(--text);
  font-family: "Andada Pro", serif;
  font-weight: 400;
  background-color: #000000 75% no-repeat;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text);
}
